<!DOCTYPE html>
<html>
  <head>
    <title>Ungerleider Lab</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  </head>
  <style>
body {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 600
}
</style>
  <body>
    <div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item  is-size-4" href="https://ungerleiderlab.github.io/">Ungerleider Lab</a>
  </div>

  
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
              <img src="https://ungerleiderlab.github.io/images/slumedsmall.png" />

      </div>
    </div>
    <div class="navbar-end">
         <a class="navbar-item is-size-4" href="#projects" style="font-weight:600;">Projects</a>
         <a class="navbar-item is-size-4" href="#software">Software</a>
         <a class="navbar-item is-size-4" href="#publications">Publications</a>
         <a class="navbar-item is-size-4" href="#people">People</a>
         <a class="navbar-item is-size-4" href="#news">News</a>



    </div>
  </div>
</nav>
    </div>
    <section class="section">
      <div id="about" class="container">
      <p class="has-text-justified">Our lab studies the Epstein Barr Virus, a tumor-associated pathogen that has established a lifelong infection in nearly the entire world's population. EBV promotes the long-term survival and proliferation of host cells and is a causal factor in a number of lymphomas and epithelial cancers. We are interested in how EBV replicates, how infection drives tumorigenesis, and targetable vulnerabilities in EBV-associated cancers. </p>
      </div>
    </section>
    
    <section class="section">      
      <div id="projects" class="container">
      <h4 class="title is-4" style="color:firebrick" ><strong>Projects</strong></h4>
      <hr>
      </div>
    </section>

    
    <section class="section">
    <div id="software" class="container">
    <h4 class="title is-4" style="color:firebrick"><strong>Software</strong></h4>
    <hr>
      
        <div class="content">

        <h6 class="subtitle is-6">SpliceTools</h6>
        <p>A tool to help interpret global splicing alterations (using RNA Sequencing data). SpliceTools can be used to explore similarities between input experimental data and splicing alterations detected following the individual knockdown of nearly 150  RNA binding proteins (raw sequencing data obtained from <a href="https://www.encodeproject.org/">ENCODE</a>).</p>

        <div class="columns">
        <div class="column">
        Modules:
        <ul>
        <li>Splice site scoring</li>
        <li>Intron/Exon sizes</li>
        <li>Fraction of genes altered</li>
        <li>Novel (unnanotated) splicing alterations</li>
        <li>Comparison to RNA binding protein knockdown experiments</li>
        <li>Predicted neopeptides</li>
        <li>Nonsense-mediated decay</li>
        </ul>
        <a href="https://splicetools.org">SpliceTools.org</a><br>
        <i class="fa fa-github"></i><a href="https://github.com/flemingtonlab/SpliceTools"> Source code</a>
        </div>

        <div class="column is-one-third">
        <figure>
        <img alt="splicesite_score_graphic" src="https://github.com/ungerleiderlab/ungerleiderlab.github.io/assets/174884808/6374c882-db32-4dde-b4b0-b799316ef4c2"/>
        </figure>
        </div>
        <div class="column is-one-third">
        <figure>
        <img alt="splicecompare_graphic" src="https://ungerleiderlab.github.io/images/splicecompare.png">


        </figure>
        </div>
        </div>
                </div>

            </div>
            </section>
    <section class="section">
    <div id="publications" class="container">
      <h4 class="title is-4" style="color:firebrick"><strong>Publications</strong></h4>
      <hr>
<h4 class="subtitle is-5">2024</h4>

    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

          <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/dn_paper.png" style="height:75px;"/></div>
              <div class="column"> 
                    <div class="content">                     
                        <p><strong><a href="https://academic.oup.com/nar/article/52/9/5016/7627474">Viral reprogramming of host transcription initiation</a></strong><br>
Ungerleider NA, Roberts C, O'Grady TM, Nguyen TT, Baddoo M, Wang J, Ishaq E, Concha M, Lam M, Bass J, Nguyen TD, Van Otterloo N, Wickramarachchige-Dona N, Wyczechowska D, Morales M, Ma T, Dong Y, Flemington EK <br><em>Nucleic Acids Research</em>
                      </p>
                    </div>
    </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/sfpq.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.nature.com/articles/s41467-024-48333-x">The nucleic acid binding protein SFPQ represses EBV lytic reactivation by promoting histone H1 expression</a></strong><br>
            Murray-Nerger LA, Lozano C, Burton EM, Liao Y, Ungerleider NA, Guo R, Gewurz BE <br><em>Nature Communications</em></p></div>
    </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/nakhoul.png" style="height:75px;"/></div>

        <div class="column"> 
            <div class="content"><p><strong><a href="https://journals.physiology.org/doi/abs/10.1152/ajpgi.00066.2023?rfr_dat=cr_pub++0pubmed&url_ver=Z39.88-2003&rfr_id=ori%3Arid%3Acrossref.org">Alterations in gene expression and microbiome composition upon calcium-sensing receptor deletion in the mouse esophagus</a></strong><br>
            Abdulnour-Nakhoul SM, Kolls JK, Flemington EK, Ungerleider NA, Nakhoul HN, Song K, Nakhoul NL<br><em>American Journal of Physiology-Gastrointestinal and Liver Physiology</em></p></div>
    </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/yan1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://academic.oup.com/jnci/article-abstract/116/3/421/7320017?redirectedFrom=fulltext">Loss of feedback regulation between FAM3B and androgen receptor driving prostate cancer progression</a></strong><br>
            Ma T, Jin L, Bai S, Liu Z, Wang S, Shen B, Cho Y, Cao S, Sun MJS, Fazli L, Zhang D, Wedderburn C, Zhang DY, Mugon G, Ungerleider N, Baddoo M, Zhang K, Schiavone LH, Burkhardt BR, Fan J, You Z, Flemington EK, Dong X, Dong Y<br><em>Journal of the National Cancer Institute</em></p></div>
        </div>
</div>
<br>
<h4 class="subtitle is-5">2023 </h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/splicetools.png" style="height: 115px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://academic.oup.com/nar/article/51/7/e42/7067943">SpliceTools, a suite of downstream RNA splicing analysis tools to investigate mechanisms and impact of alternative splicing</a></strong><br>
            Flemington EK, Flemington SA, O'Grady TM, Baddoo M, Nguyen T, Dong Y, Ungerleider NA<br><em>Nucleic Acids Research</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2022</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/tina1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.3389/fimmu.2022.1060114">Reversal of splicing infidelity is a pre-activation step in B cell differentiation</a></strong><br>
            O'Grady TM, Baddoo M, Flemington SA, Ishaq EY, Ungerleider NA, Flemington EK<br><em>Frontiers in Immunology</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/ashkan1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s43018-022-00466-y">Breast cancer cells survive chemotherapy by activating targetable immune-modulatory programs characterized by PD-L1 or CD80</a></strong><br>
            Shahbandi A, Chiu FY, Ungerleider NA, Kvadas R, Mheidly Z, Sun MJS, Tian D, Waizman DA, Anderson AY, Machado HL, Pursell ZF, Rao SG, Jackson JG<br><em>Nature Cancer</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/arbo.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://onlinelibrary.wiley.com/doi/10.1002/jha2.580">Establishment and characterization of a new mantle cell lymphoma cell line with a NOTCH2 mutation, Arbo</a></strong><br>
            Safa F, Rasmussen T, Lobelle-Rich P, Collier S, Milligan N, Schmeig J, Schmid J, Wiewiorowski C, Totaro D, Brown TC, Satyavarapu I, Badoo M, Ungerleider N, Flemington EK, Safah H, Saba NS<br><em>EJHaem</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/scott1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://journals.asm.org/doi/10.1128/mbio.00836-22">A Polymorphism in the Epstein-Barr Virus EBER2 Noncoding RNA Drives In Vivo Expansion of Latently Infected B Cells</a></strong><br>
            Wang Y, Ungerleider N, Hoffman BA, Kara M, Farrell PJ, Flemington EK, Lee N, Tibbetts SA<br><em>mBio</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/bo1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s41389-022-00395-6">Salt-Inducible Kinase 1 is a potential therapeutic target in Desmoplastic Small Round Cell Tumor</a></strong><br>
            Hartono AB, Kang HJ, Shi L, Phipps W, Ungerleider N, Giardina A, Chen W, Spraggon L, Somwar R, Moroz K, Drewry DH, Burow ME, Flemington E, Ladanyi M, Lee SB<br><em>Oncogenesis</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/emily1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkac013">Analysis of epigenetic features characteristic of L1 loci expressed in human cells</a></strong><br>
            Freeman B, White T, Kaul T, Stow EC, Baddoo M, Ungerleider N, Morales M, Yang H, Deharo D, Deininger P, Belancio VP<br><em>Nucleic Acids Research</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/garry1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://linkinghub.elsevier.com/retrieve/pii/S2211-1247(21)01672-7">Ebola virus delta peptide is an enterotoxin</a></strong><br>
            Melnik LI, Guha S, Ghimire J, Smither AR, Beddingfield BJ, Hoffmann AR, Sun L, Ungerleider NA, Baddoo MC, Flemington EK, Gallaher WR, Wimley WC, Garry RF<br><em>Cell Reports</em></p></div>
        </div>
</div>
<br>
<h4 class="subtitle is-5">2021</h4>




    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/ahn1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s41417-020-00262-9">SON inhibits megakaryocytic differentiation via repressing RUNX1 and the megakaryocytic gene expression program in acute megakaryoblastic leukemia</a></strong><br>
            Vukadin L, Kim JH, Park EY, Stone JK, Ungerleider N, Baddoo MC, Kong HK, Richard A, Tran J, Giannini H, Flemington EK, Lim SS, Ahn EE<br><em>Cancer Gene Therapy</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/emily2.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://academic.oup.com/nar/article/49/10/5813/6281479?login=false">Organ-, sex- and age-dependent patterns of endogenous L1 mRNA expression at a single locus resolution</a></strong><br>
            Stow EC, Kaul T, deHaro DL, Dem MR, Beletsky AG, Morales ME, Du Q, LaRosa AJ, Yang H, Smither E, Baddoo M, Ungerleider N, Deininger P, Belancio VP<br><em>Nucleic Acids Research</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/clash_ebv.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://dx.plos.org/10.1371/journal.ppat.1009217"> EBV miRNAs are potent effectors of tumor cell transcriptome remodeling in promoting immune escape</a></strong><br>
            Ungerleider N, Bullard W, Kara M, Wang X, Roberts C, Renne R, Tibbetts S, Flemington EK<br><em>PLOS Pathogens</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/yan2.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.sciencedirect.com/science/article/abs/pii/S0304383521000069?via%3Dihub"> Increased transcription and high translation efficiency lead to accumulation of androgen receptor splice variant after androgen deprivation therapy</a></strong><br>
            Ma T, Bai S, Qi Y, Zhan Y, Ungerleider N, Zhang DY, Neklesa T, Corey E, Dehm SM, Zhang K, Flemington EK, Dong Y<br><em>Cancer Letters</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/susana.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s41598-021-88489-w"> Ulcerative colitis immune cell landscapes and differentially expressed gene signatures determine novel regulators and predict clinical response to biologic therapy</a></strong><br>
            Penrose HM, Iftikhar R, Collins ME, Toraih E, Ruiz E, Ungerleider N, Nakhoul H, Flemington EF, Kandil E, Shah SB, Savkovic SD<br><em>Scientific Reports</em></p></div>
    </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/yan3.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.sciencedirect.com/science/article/pii/S2352340921000585?via%3Dihub"> Data of relative mRNA and protein abundances of androgen receptor splice variants in castration-resistant prostate cancer</a></strong><br>
            Ma T, Ungerleider N, Zhang DY, Corey E, Flemington EK, Dong Y<br><em>Data in Brief</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/zika.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://link.springer.com/article/10.1007/s13365-020-00931-3"> Transcriptional signatures of Zika virus infection in astrocytes</a></strong><br>
            Schouest B, Peterson TA, Szeltner DM, Scheef EA, Baddoo M, Ungerleider N, Flemington EK, MacLean AG, Maness NJ<br><em>Journal of NeuroVirology</em></p></div>
        </div>
</div>




    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/zac_canc.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://aacrjournals.org/cancerres/article-lookup/doi/10.1158/0008-5472.CAN-20-0624"> Cancers from Novel Pole-Mutant Mouse Models Provide Insights into Polymerase-Mediated Hypermutagenesis and Immune Checkpoint Blockade</a></strong><br>
            Galati MA, Hodel KP, Gams MS, Sudhaman S, Bridge T, Zahurancik WJ, Ungerleider NA, Park VS, Ercan AB, Joksimovic L, Siddiqui I, Siddaway R, Edwards M, de Borja R, Elshaer D, Chung J, Forster VJ, Nunes NM, Aronson M, Wang X, Ramdas J, Seeley A, Sarosiek T, Dunn GP, Byrd JN, Mordechai O, Durno C, Martin A, Shlien A, Bouffet E, Suo Z, Jackson JG, Hawkins CE, Guidos CJ, Pursell ZF, Tabori U<br><em>Cancer Research</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2019</h4>




    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/jim2.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s41418-020-0564-6"> BH3 mimetics selectively eliminate chemotherapy-induced senescent cells and improve response in TP53 wild-type breast cancer</a></strong><br>
            Shahbandi A, Rao SG, Anderson AY, Frey WD, Olayiwola JO, Ungerleider NA, Jackson JG<br><em>Cell Death & Differentiation
</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/zac_molcel.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.cell.com/molecular-cell/fulltext/S1097-2765(20)30313-0">POLE Mutation Spectra Are Shaped by the Mutant Allele Identity, Its Abundance, and Mismatch Repair Status</a></strong><br>
            Hodel KP, Sun MJS, Ungerleider N, Park VS, Williams LG, Bauer DL, Immethun VE, Wang J, Suo Z, Lu H, McLachlan JB, Pursell ZF<br><em>Molecular Cell</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/jq1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://dx.plos.org/10.1371/journal.pone.0228160">The long-noncoding RNA MALAT1 regulates TGF-β/Smad signaling through formation of a lncRNA-protein complex with Smads, SETD2 and PPM1A in hepatic cells</a></strong><br>
            Zhang J, Han C, Song K, Chen W, Ungerleider N, Yao L, Ma W, Wu T<br><em>PLoS One</em></p></div>
        </div>
</div>
<br>
<h4 class="subtitle is-5">2019</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/crystal.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://rupress.org/jcb/article-lookup/doi/10.1083/jcb.201904051">Chemotherapy-induced senescent cancer cells engulf other cells to enhance their survival</a></strong><br>
            Tonnessen-Murray CA, Frey WD, Rao SG, Shahbandi A, Ungerleider NA, Olayiwola JO, Murray LB, Vinson BT, Chrisey DB, Lord CJ, Jackson JG<br><em>Journal of Cell Biology</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/yan4.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s41388-019-0947-7">Circular RNAs add diversity to androgen receptor isoform repertoire in castration-resistant prostate cancer</a></strong><br>
            Cao S, Ma T, Ungerleider N, Roberts C, Kobelski M, Jin L, Concha M, Wang X, Baddoo M, Nguyen HM, Corey E, Fazli L, Ledet E, Zhang R, Silberstein JL, Zhang W, Zhang K, Sartor O, Dong X, Flemington EK, Dong Y<br><em>Oncogene</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/yan5.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1038/s41388-019-0768-8">A positive role of c-Myc in regulating androgen receptor and its splice variants in prostate cancer</a></strong><br>
            Bai S, Cao S, Jin L, Kobelski M, Schouest B, Wang X, Ungerleider N, Baddoo M, Zhang W, Corey E, Vessella RL, Dong X, Zhang K, Yu X, Flemington EK, Dong Y<br><em>Oncogene</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/splicev1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-019-2865-7">SpliceV: analysis and publication quality printing of linear and circular RNA splicing, expression and regulation</a></strong><br>
            Ungerleider N, Flemington E<br><em>BMC Bioinformatics</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/circ2.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://journals.asm.org/doi/10.1128/mbio.00071-19">Gammaherpesvirus RNAs Come Full Circle</a></strong><br>
            Ungerleider NA, Tibbetts SA, Renne R, Flemington EK<br><em>mBio</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/wu2.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://journals.lww.com/hep/abstract/2019/04000/a_transforming_growth_factor___and_h19_signaling.24.aspx"> A Transforming Growth Factor-β and H19 Signaling Axis in Tumor-Initiating Hepatocytes That Regulates Hepatic Carcinogenesis</a></strong><br>
            Zhang J, Han C, Ungerleider N, Chen W, Song K, Wang Y, Kwon H, Ma W, Wu T<br><em>Hepatology</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/circ3.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://journals.asm.org/doi/full/10.1128/jvi.01952-18">Comparative Analysis of Gammaherpesvirus Circular RNA Repertoires: Conserved and Unique Viral Circular RNAs</a></strong><br>
            Ungerleider NA, Jain V, Wang Y, Maness NJ, Blair RV, Alvarez X, Midkiff C, Kolson D, Bai S, Roberts C, Moss WN, Wang X, Serfecz J, Seddon M, Lehman T, Ma T, Dong Y, Renne R, Tibbetts SA, Flemington EK<br><em>Journal of Virology</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/susana5.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.cmghjournal.org/article/S2352-345X(18)30148-6/fulltext"> Loss of Forkhead Box O3 Facilitates Inflammatory Colon Cancer: Transcriptome Profiling of the Immune Landscape and Novel Targets</a></strong><br>
            Penrose HM, Cable C, Heller S, Ungerleider N, Nakhoul H, Baddoo M, Hartono AB, Lee SB, Burow ME, Flemington EF, Crawford SE, Savkovic SD<br><em>Cellular and Molecular Gastroenterology and Hepatology</em></p></div>
        </div>
</div>
<br>
<h4 class="subtitle is-5">2018</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/jim_brca.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://breast-cancer-research.biomedcentral.com/articles/10.1186/s13058-018-1044-5"> Breast cancer survival predicted by TP53 mutation status differs markedly depending on treatment</a></strong><br>
            Ungerleider NA, Rao SG, Shahbandi A, Yee D, Niu T, Frey WD, Jackson JG<br><em>Breast Cancer Research</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/circ1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://dx.plos.org/10.1371/journal.ppat.1007206">The Epstein Barr virus circRNAome</a></strong><br>
            Ungerleider N, Concha M, Lin Z, Roberts C, Wang X, Cao S, Baddoo M, Moss WN, Yu Y, Seddon M, Lehman T, Tibbetts S, Renne R, Dong Y, Flemington EK<br><em>PLOS Pathogens</em></p></div>
        </div>
</div>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/tronc.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://linkinghub.elsevier.com/retrieve/pii/S1936-5233(18)30176-1">p53 Mediates Vast Gene Expression Changes That Contribute to Poor Chemotherapeutic Response in a Mouse Model of Breast Cancer</a></strong><br>
            Tonnessen-Murray C, Ungerleider NA, Rao SG, Wasylishen AR, Frey WD, Jackson JG<br><em>Translational Oncology</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/pole1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.7554/eLife.32692">Explosive mutation accumulation triggered by heterozygous human Pol ε proofreading-deficiency is driven by suppression of mismatch repair</a></strong><br>
            Hodel KP, de Borja R, Henninger EE, Campbell BB, Ungerleider N, Light N, Wu T, LeCompte KG, Goksenin AY, Bunnell BA, Tabori U, Shlien A, Pursell ZF<br><em>eLife</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2017</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/susana6.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.oncoscience.us/lookup/doi/10.18632/oncoscience.386">In colonic ρ(0) (rho0) cells reduced mitochondrial function mediates transcriptomic alterations associated with cancer</a></strong><br>
            Penrose HM, Heller S, Cable C, Nakhoul H, Ungerleider N, Baddoo M, Pursell ZF, Flemington EK, Crawford SE, Savkovic SD<br><em>Oncoscience</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/phd.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://doi.org/10.1002/mc.22592">TGFβ signaling confers sorafenib resistance via induction of multiple RTKs in hepatocellular carcinoma cells</a></strong><br>
            Ungerleider N, Han C, Zhang J, Yao L, Wu T<br><em>Molecular Carcinogenesis</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2015</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/danielle.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://pubmed.ncbi.nlm.nih.gov/25961841/">Activins A and B Regulate Fate-Determining Gene Expression in Islet Cell Lines and Islet Cells From Male Mice</a></strong><br>
            Andrzejewski D, Brown ML, Ungerleider N, Burnside A, Schneyer AL<br><em>Endocrinology</em></p></div>
        </div>
    </div>

<br>
<h4 class="subtitle is-5">2014</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/acta.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.tandfonline.com/doi/full/10.1080/19382014.2015.1017226">Effects of activin A on survival, function and gene expression of pancreatic islets from non-diabetic and diabetic human donors</a></strong><br>
            Brown ML, Ungerleider N, Bonomi L, Andrzejewski D, Burnside A, Schneyer A<br><em>Islets</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2013</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/endo1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://pubmed.ncbi.nlm.nih.gov/23533219/">Increased activin bioavailability enhances hepatic insulin sensitivity while inducing hepatic steatosis in male mice</a></strong><br>
            Ungerleider NA, Bonomi LM, Brown ML, Schneyer AL<br><em>Endocrinology</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2012</h4>


    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/lara.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://journals.physiology.org/doi/full/10.1152/ajpendo.00177.2012">Activin B regulates islet composition and islet mass but not whole body glucose homeostasis or insulin sensitivity</a></strong><br>
            Bonomi L, Brown M, Ungerleider N, Muse M, Matzuk MM, Schneyer A<br><em>American Journal of Physiology-Endocrinology and Metabolism</em></p></div>
        </div>
</div>

<br>
<h4 class="subtitle is-5">2011</h4>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/melissa.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://www.tandfonline.com/doi/full/10.4161/isl.3.6.18013">Differential synthesis and action of TGFß superfamily ligands in mouse and rat islets</a></strong><br>
            Brown ML, Kimura F, Bonomi LM, Ungerleider NA, Schneyer AL<br><em>Islets</em></p></div>
        </div>
</div>



    <div class="columns  is-flex is-vcentered">
        <div class="column is-1"></div>

        <div class="column is-one-fifth has-text-right"><img src="{{ site.baseurl }}/images/1.png" style="height:75px;"/></div>
        <div class="column"> 
            <div class="content"><p><strong><a href="https://onlinelibrary.wiley.com/doi/10.1038/oby.2011.97">Follistatin and follistatin like-3 differentially regulate adiposity and glucose homeostasis</a></strong><br>
            Brown ML, Bonomi L, Ungerleider N, Zina J, Kimura F, Mukherjee A, Sidis Y, Schneyer A<br><em>Obesity</em></p></div>
        </div>
</div>

      
    </div>
    </section>
    
    <section class="section">      
      <div id="people" class="container">
      <h4 class="title is-4" style="color:firebrick"><strong>People</strong></h4>
      <hr>
      </div>
    </section>

        <section class="section">      
      <div id="news" class="container">
      <h4 class="title is-4" style="color:firebrick"> <strong>News</strong> </h4>
      <hr>
      </div>
    </section>

        <footer class="footer has-background-white">
        </footer>

  
  </body>
</html>
